*{
  padding: 0;
  margin: 0;
}
#canvas{
  transform: rotateY(180deg);
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  display: block;
  width: 640px;
  box-shadow: -1px 15px 30px -12px gray;
  margin-top: 100px;
  border-radius: 5px;
}

#my_velocityvideo{ /* hard coding so that it hides behind the canvas*/
  position: absolute;
  top:200px;
  left:50%;
  z-index: -1;
}

.start_game_menu{

}

body{
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #74ebd5, #acb6e5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #74ebd5, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
